@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Blue Nav*/
.header .nav{
    background-color: #001279;
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 0 8.5%;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.header .nav .lista1,
.header .nav .lista2{
    list-style: none;
    display: flex;
    align-items: center;
}

.header .nav .lista1 .lista-elemento,
.header .nav .lista2 .lista-elemento{
    padding: 0 15px;
}

.header .nav .lista1 .lista-elemento a{
    text-decoration: none;
    list-style: none;
    color: white;
    transition: all 0.3s;
}

.header .nav .lista1 .lista-elemento a:hover{
    color: #ffcc00;
}

.header .nav .lista2 .lista-elemento a img{
    filter: grayscale(100%) brightness(0) invert(1);
    height: 25px;
    width: auto;
    padding-top: 3px;
    transition: all 0.3s;
}

.header .nav .lista2 .lista-elemento a img:hover{
    transform: scale(1.3);
}

/*White Nav*/
.nav2{
    display: flex;
    height: 75px;
    border: 1px solid black;
    padding: 0 10%;
    justify-content: space-between;
}

.nav2 .lista1{
    list-style: none;
}

.nav2 .lista1 .lista-elemento a img{
    width: 90px;
    height: auto;
    padding-top: 10px;
    transition: all 0.3s;
}

.nav2 .lista1 .lista-elemento a img:hover{
    transform: scale(1.1);
}

.nav2 .lista2{
    display: flex;
    list-style: none;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.nav2 .lista2 .lista-elemento{
    padding-left: 30px;
}

.nav2 .lista2 .lista-elemento a{
    font-weight: 500;
    text-decoration: none;
    color: #001279;
    transition: all 0.3s;
}

.nav2 .lista2 .lista-elemento a:hover{
    color: #ffcc00;
    text-decoration: underline;
    padding-bottom: 3px;
}