@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header .nav{
    background-color: #001279;
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 0 8.5%;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.header .nav .lista1,
.header .nav .lista2{
    text-decoration: none;
    list-style: none;
    display: flex;
    color: white;
    align-items: center;
}

.header .nav .lista1 .lista-elemento,
.header .nav .lista2 .lista-elemento{
    padding: 0 15px;
}

.header .nav .lista2 .lista-elemento img{
    filter: grayscale(100%) brightness(0) invert(1);
    height: 25px;
    width: auto;
    padding-top: 3px;
}
